<html>
<head>
<link
    href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.css"
    rel="stylesheet" type="text/css">
<link
    href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.5.min.css"
    rel="stylesheet" type="text/css">

<script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.js"></script>
<script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.5.min.js"></script>

<link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.15.min.css" type="text/css" />
<link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.15.min.css" type="text/css" />
<link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-tables-0.12.15.min.css" type="text/css">

<script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.15.min.js"></script>
<script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-api-0.12.15.min.js"></script>
<script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.15.min.js"></script>
<script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-tables-0.12.15.min.js"></script>

</head>
<body>
<H1>MyFoodRepo Prediction</H1>

{% if error|length > 0 %}
	<p>{{ type(error) }}</p>
	<p>{{error}}</p>
	<p>{{error.args}}</p>
{% else %}
<a href="{{url_for('upload_file')}}">Evaluate Images with a Different Model</a>
<br>
<a href="{{url_for('index')}}">Delete all uploaded Images</a>

 <table style="width:60%;border:1px solid black;">
  <tr>
    <th >File Name</th>

    <th>Predicted Label</th>
    <th> Image </th>	
  </tr>
  {% for i in predictions.keys() %}	
  <tr>	   
	 <td>{{ i }}</td>
   	 <td>{{ predictions[i] }}</td>
	<td> <a href = "{{url_for('send_file',filename= i )}}" target="_blank" >View Image</a></td>
  </tr>
  {% endfor %}
</table>
{% endif % } 
</body>
</html>


